<% provide(:title, @user.username) %>
  <div class="row">
    <aside class="col-md-4">
      <section>
        <h1>
          <%= @user.username %>
        </h1>
      </section>
      <section class="stats">
        <%= render 'stats' %>
      </section>
    </aside>
    <div class="col-md-8">
      <%= render 'follow_form' if signed_in? %>

    </div>
  </div>
